.spinner {
    animation: loading 4s linear infinite;
    width: 100px;
    height: 100px;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(160deg);
    }
    100% {
        transform: rotate(360deg);
    }
}