.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    height: 100%;
}

.container> :not(:last-child) {
    margin-bottom: 1em;
}

.utilityBelt {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 40px;
}

.utilityBelt> :not(:last-child) {
    margin-right: 1em;
}

.input {
    width: 35%;
    margin-right: 1em;
    min-width: 200px;
}

.grid {
    width: 95%;
    height: calc(100% - 40px - 1em - 1em);
}

.noResult {
    margin-left: auto;
    margin-right: auto;
}

.loadMore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 600px) {
    .grid {
        width: 100%;
    }
    .utilityBelt {
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        height: calc(120px + 3em);
    }
    .utilityBelt> :not(:last-child) {
        margin-right: 0em;
        margin-bottom: 1em;
    }
    .button {
        width: 90%;
    }
    .input {
        width: 90%;
    }
    .grid {
        height: calc(100% - 120px - 5em);
    }
}